/* WHOLE CV PAGE CONTENT BOX */

#cvPage {
    margin-top: 6vh;
    height: 100vh;
    width: 90vw;
}



/*  GENERAL TEXT CONFIGURATIONS */

#cvPage h3 {
    font-size: 2em;
    width: 15vw;
    text-align: center;
    margin-top: 0.5em;
}

#cvPage h6 {
    font-size: 1.5em;
}

#cvPage p {
    font-size: 1.1em;
    margin-top: 0.75em;
    margin-bottom: 3em;
    line-height: 1.6em;
}



/* BIG CONTENT BOXES */

.contentBox {
    display: flex;
    border-top: 5px solid white;
}

.noBorder {
    border-top: none;
}

/* HEADING BOX */

.headingBox {
    width: 17vw;
    height: 20vh;
}

/* TEXT BOXES */

.textBox {
    width: 45vw;
    display: flex;
    flex-direction: column;
    margin-top: 4em;
}